{% extends 'base.html.twig' %}

{% block title %}Mes playlists favorites{% endblock %}

{% block body %}
    <section class="playlists-section-container">
        <h1 class="playlists-title">Mes playlists favorites</h1>

        <div class="playlists-section">
            {% for playlist in favoritePlaylists %}
                <article class="playlist-card">
                    <a href="{{ path('playlist_show', { id: playlist.id }) }}">
                        {% if playlist.images[0].url is defined %}
                            <img src="{{ playlist.images[0].url }}" alt="Image {{ playlist.name }}" class="playlist-image">
                        {% else %}
                            <p class="no-image">Pas d'image disponible</p>
                        {% endif %}
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>

{% endblock %}
