<h1>Nouveau message reçu depuis le formulaire de contact</h1>

<p>Hello Admin ! Tu as reçu un nouveau message ! </p>

<p><strong>Nom :</strong> {{ name }}</p>
<p><strong>Email :</strong> {{ email }}</p>

<p><strong>Contenu du message :</strong></p>
<p>{{ message|nl2br }}</p>

<p>Cet email vous a été envoyé automatiquement depuis votre site web.</p>

