{% extends 'base.html.twig' %}

{% block title %}Demande de reinitialisation de mot de passe{% endblock %}

{% block body %}
    <h1>Demande de réinitialisation de mot de passe</h1>
    {{ form_start (ChangePasswordForm) }}
    {{ form_row (ChangePasswordForm.password) }}
    <button type="submit">Envoyer</button>
    {{ form_end (ChangePasswordForm) }}
{% endblock %}
