{% extends 'base.html.twig' %}

{% block title %}Demande de reinitialisation de mot de passe{% endblock %}

{% block body %}
    <h1>Demande de réinitialisation de mot de passe</h1>
    {{ form_start (RequestPassForm) }}
        {{ form_row (RequestPassForm.email) }}
        <button type="submit">Envoyer</button>
    {{ form_end (RequestPassForm) }}
{% endblock %}
