:root {
    --dark-color: #2c2c2c;
    --main-color: #ffffff;
    --pink-color: #FF0080;
    --light-pink-color: rgb(255, 0, 128, 0.2);
    --purple-color: #A020F0;
    --blue-color: #5DCEF6;
    --green-color: #00FF80;
    --orange-color: rgba(255, 165, 0, 1);
    --main-font: 'Bebas Neue', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    height: 100%;


    .container { /*Pour faire en sorte que mon footer soit en bas de page, méthode flex*/
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        main {
            flex: 1;
        }
    }
}

/*Style Barre de nav*/
.navbar-mobile {
    background-color: var(--dark-color);
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;


    .logo { /*Mise en forme du logo*/
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2rem;
        color: var(--main-color);
        text-decoration: none;
    }

    .icon{
        fill: var(--main-color);
    }

    .sidebar { /*Mise en forme liste*/
        display: none;
        padding: 2rem;

        .close-btn {
            all: unset;
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.6rem;
        }

        .menu {
            ul {
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        font-family: 'Raleway', sans-serif;
                        color: var(--main-color);
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

.sidebar.open {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: var(--dark-color);
    z-index: 10;
}


/*Style Footer*/
.footer-container {
    background-color: var(--dark-color);
    color: var(--main-color);
    text-align: center;
    padding: 1em;

    a {
        svg {
            color: var(--main-color);

            use {
                color: var(--main-color);
            }
        }
    }
}

/*Style Page d'accueil - Hero*/

.hero { /*Image*/
    text-align: center;

    .cover-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 3rem;
        padding-top: 50px;
        background: linear-gradient(to right, var(--dark-color), var(--purple-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        padding: 10px 0;

    }
}


.carousel-container { /*Carrousel*/
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100% !important;
    touch-action: pan-x;
    margin: auto !important;

    .carousel {
        display: flex;
        transition: transform 0.3s ease;

        .slide {
            min-width: 100% !important;
            box-sizing: border-box;
            padding: 40px;
            text-align: center;

            .slide-content {
                position: relative;
                display: inline-block;
                width: 100%;

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
                }

                h2 {
                    font-family: 'Raleway', sans-serif;
                    font-size: 1.2rem;
                    font-weight: 400;
                    padding-bottom: 1rem;
                    padding-top: 0.5rem;
                }
            }
        }
    }
}


.artiste-of-the-week { /*Artiste de la semaine*/
    padding-bottom: 40px;

    h2 {
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2rem;
        font-weight: 400;
    }

}


.links { /*Raccourci culture web*/

    h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        margin: 10px;
    }

    .btn-groove {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 10px;
        padding-bottom: 40px;

        a {
            aspect-ratio: 1/1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            font-family: Bebas Neue, sans-serif;
            text-decoration: none;
            color: var(--dark-color);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            transition: transform 0.2s ease, box-shadow 0.2s ease;

            &.green {
                background: var(--green-color);
            }

            &.blue {
                background: var(--blue-color);
            }

            &.purple {
                background: var(--purple-color);
            }

            &.pink {
                background: var(--pink-color);
            }

            &.light-pink {
                background: var(--light-pink-color);
            }

            &.orange {
                background: var(--orange-color);
            }
        }
    }
}


.contact { /*Formulaire de contact*/
    margin: 20px;

    p {
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        text-align: center;
    }

    .home-form-container {
        max-width: 600px;
        margin: 4rem auto;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: #fff;

        .form-group {
            margin-bottom: 1.5rem;

            /*Correction pour aligner checkbox et label horizontalement*/

            &:has(input[type="checkbox"]) {
                display: flex;
                align-items: center;
                /*Ajouter l'espacement entre la checkbox et la phrase*/
            }
        }

        .form-group label {
            font-family: 'Bebas Neue', cursive;
            font-size: 1rem;
            margin-bottom: 0.5rem;

        }

        .form-control {
            width: 100%;
            padding: 0.75rem;
            border-radius: 0.75rem;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        }

        .form-submit {
            margin-top: 2rem;
            text-align: center;
        }

        .btn-black {
            background-color: var(--dark-color);
            color: var(--main-color);
            padding: 0.75rem 1.5rem;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/*Style page index articles*/

.posts-index,
.artists-index{
    max-width: 1200px;
    margin: 4rem auto;
    padding: 1rem;
}

.section-title {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.section-intro {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 3rem;
}

.posts-grid ,
.artists-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.post-card,
.artist-card{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
    text-align: center;
}

.post-image,
.artist-image{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.post-title,
.artist-name{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.contact-intro {
    text-align: center;
    margin-top: 3rem;
    font-family: 'Raleway', sans-serif;
}

.no-image {
    font-style: italic;
    color: #888;
}

/*Style page affichage d'un article*/



/*Style page ajout d'article */

.title-new {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form-group {

    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;

}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}


.btn-black {
    background-color: var(--dark-color);
    color: var(--main-color);
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.btn-return {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: var(--dark-color);
}


/*Style page Profil */

.main-profil{
    margin: 2rem;

    .profil-title {
        font-family: "Bebas Neue", sans-serif;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }

    .avatar {
        display: block;
        margin: 2rem auto;
        border-radius: 50%; /* optionnel pour arrondir l'image*/
    }

    .profil-links{
        h2 {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
            margin: 2rem;
        }

        ul{
            list-style: none;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            padding-bottom: 4rem;

            li {
                a {
                    aspect-ratio: 1/1;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    font-family: Bebas Neue, sans-serif;
                    font-size: 2rem;
                    text-decoration: none;
                    color: var(--main-color);
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
                    transition: transform 0.2s ease, box-shadow 0.2s ease;

                    &.blue{
                        background-color: var(--blue-color);
                    }

                    &.pink{
                        background-color: var(--pink-color);
                    }

                    &:hover {
                        background-color: var(--purple-color);

                    }
                }

            }
        }
    }

    .faq{

        .accordion { /* Conteneur principal des éléments d'accordéon (FAQ) */
            max-width: 800px;
            margin: 2rem auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .accordion-item{

                .accordion-header { /* Boutons d’en-tête de chaque question FAQ */
                    background-color: var(--purple-color);
                    color: white;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1rem;
                    border: none;
                    text-align: left;
                    cursor: pointer;
                    border-radius: 5px;
                    font-weight: bold;
                    transition: background-color 0.3s ease;
                }
                .accordion-header:hover {
                    background-color: var(--pink-color);
                }


                .accordion-content { /* Contenu caché des réponses de la FAQ, qui s’ouvre avec une animation */
                    max-height: 0;
                    overflow: hidden;
                    background-color: var(--light-pink-color);
                    transition: max-height 0.4s ease;
                    border-radius: 5px;
                    padding: 0 1rem;
                }


                .accordion-content p { /* Espacement interne des paragraphes dans le contenu FAQ */
                    padding: 1rem 0;
                }


            }
        }
    }
}





