<header class="navbar-mobile">
    <div class="burger" id="burger" >
        <svg width="30" height="30">
            <use href="{{ asset('assets/sprites.svg') }}#burger"></use>
        </svg>
    </div>

    <a class="logo" href="{{ path('app_main') }}">La Groove Box</a>

    <div class="sidebar" id="sidebar">
        <button class="close-btn" id="closeSidebar">×</button>

        <nav class="menu" id="menu">
            <ul>
                <li><a href="#">Un peu de Culture Musical</a></li>
                <li><a href="{{ path('app_posts_index') }}">Actualités</a></li>
                <li><a href="#">Évènements</a></li>
                <li><a href="#">Côté Son</a></li>
                <li><a href="{{ path('app_login') }}">Connexion/Déconnexion</a></li>
            </ul>
        </nav>
    </div>
</header>
